Job: "bb4l_CRFit"
  Label: "bb4l_CR Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  %POI: "SigXsecOverSM","mu_ttXsec","mu_ttVXsec","mu_VVXsec","mu_HiggsXsec","mu_ZjetsXsec"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  %NtuplePath: "bb4lInputs/test/"
  NtuplePath: "/Lab/Di-Higgs/Analysis/v10samples/BDT/Results/v1/"
  NtupleName: "nominal"
  MCweight: "weight"
  DebugLevel: 10
  GuessMCStatEmptyBins: TRUE
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  BlindSRs: TRUE
  PlotOptions: YIELDS,NORMSIG
  %GetChi2: TRUE
  ImageFormat: png,eps,svg
  RatioYmax: 1.8
  RatioYmin: 0.2
  RankingMaxNP: 30
  NPRankingCanvasSize: 3500, 1400
  %PruningType: COMBINEDREFERENCE
  %RankingPlot: Systs

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  %FitBlind: TRUE
  %doLHscan: SigXsecOverSM
  %LHscanSteps: 5
  POIAsimov: 1
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  %SignalInjection: TRUE
  %LimitBlind: TRUE

%Significance: "limit"
  %SignificanceBlind: TRUE
  %POI: "SigXsecOverSM"
  %POIAsimov: 1

%%%%%%%%%%% tt CR definition %%%%%%%%%%%
Region: "tt_CR"
  Label: "t#bar{t}"
  Type: CONTROL
  Variable: "ttBDT",8,-1.0,1.0
  VariableTitle: "BDT"
  %Binning:-1,1
  %DataType: ASIMOV
  DataType: DATA
    
Sample: "tt_ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "tt/tt"
  Regions: "tt_CR"

Sample: "tt_VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "tt/VV"
  Regions: "tt_CR"

Sample: "tt_ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "tt/ttV"
  Regions: "tt_CR"
    
Sample: "tt_Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "tt/Higgs"
  Regions: "tt_CR"
  
Sample: "tt_Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "tt/Zjets"
  Regions: "tt_CR"

Sample: "tt_Data"
  Title: "Data"
  Type: DATA
  NtupleFile: "tt/data"
  Regions: "tt_CR"

%%%%%%%%% ttV CR definition %%%%%%%%%%%
Region: "ttV_CR"
  Label: "ttV"
  Type: CONTROL
  Variable: "ttVBDT",8,-1.0,1.0
  VariableTitle: "BDT"
  DataType: DATA
    
Sample: "ttV_ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "ttV/tt"
  Regions: ttV_CR
    
Sample: "ttV_VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "ttV/VV"
  Regions: ttV_CR

Sample: "ttV_ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "ttV/ttV"
  Regions: ttV_CR
    
Sample: "ttV_Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "ttV/Higgs"
  Regions: ttV_CR
  
Sample: "ttV_Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "ttV/Zjets"
  Regions: ttV_CR

Sample: "ttV_Data"
  Title: "Data"
  Type: Data
  NtupleFile: "ttV/data"
  Regions: ttV_CR

%%%%%%%%% VVHiggs CR definition %%%%%%%%%%%
Region: "VVHiggs_CR"
  Label: "VVHiggs"
  Type: CONTROL
  Variable: "VVHiggsBDT",8,-1.0,1.0
  VariableTitle: "BDT"
  DataType: DATA
    
Sample: "VVHiggs_ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "VVHiggs/tt"
  Regions: VVHiggs_CR
    
Sample: "VVHiggs_VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "VVHiggs/VV"
  Regions: VVHiggs_CR

Sample: "VVHiggs_ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "VVHiggs/ttV"
  Regions: VVHiggs_CR
    
Sample: "VVHiggs_Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "VVHiggs/Higgs"
  Regions: VVHiggs_CR
  
Sample: "VVHiggs_Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "VVHiggs/Zjets"
  Regions: VVHiggs_CR

Sample: "VVHiggs_Data"
  Title: "Data"
  Type: Data
  NtupleFile: "VVHiggs/data"
  Regions: VVHiggs_CR

%%%%%%%%%% Zjets CR definition %%%%%%%%%%%
Region: "Zjets_CR"
  Label: "Zjets"
  Type: CONTROL
  Variable: "Zjets_6BDT",8,-1.0,1.0
  VariableTitle: "BDT"
  %DataType: ASIMOV
  DataType: DATA
    
Sample: "Zjets_ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "Zjets/tt"
  Regions: Zjets_CR
    
Sample: "Zjets_VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "Zjets/VV"
  Regions: Zjets_CR

Sample: "Zjets_ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "Zjets/ttV"
  Regions: Zjets_CR
    
Sample: "Zjets_Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "Zjets/Higgs"
  Regions: Zjets_CR
  
Sample: "Zjets_Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "Zjets/Zjets"
  Regions: Zjets_CR

Sample: "Zjets_Data"
  Title: "Data"
  Type: Data
  NtupleFile: "Zjets/data"
  Regions: Zjets_CR

%%%%%%%%% VR definition %%%%%%%%%%%
Region: "VR"
  Label: "Side Band"
  Type: VALIDATION
  Variable: "VRBDT",8,-1.0,1.0
  VariableTitle: "BDT"
  %Binning:-1,1
  %DataType: ASIMOV
  DataType: DATA

Sample: "VR_ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "VR/tt"
  Regions: "VR"

Sample: "VR_VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "VR/VV"
  Regions: "VR"

Sample: "VR_ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "VR/ttV"
  Regions: "VR"
    
Sample: "VR_Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "VR/Higgs"
  Regions: "VR"
  
Sample: "VR_Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "VR/Zjets"
  Regions: "VR"

Sample: "VR_Data"
  Title: "Data"
  Type: DATA
  NtupleFile: "VR/data"
  Regions: "VR"

%%%%%%%%%%%%%%%%%%%   SR    %%%%%%%%%%%%%%%%%%%%

Region: "SR"
  Type: SIGNAL
  Variable: "SRBDT",20,-1.0,1.0
  Binning: -1.0,-0.9,-0.8,-0.7,-0.6,-0.4,-0.2,0.2,0.4,0.6,0.7,0.8,0.9,1.0
  VariableTitle: "BDT"
  Label: "Signal Region"
  ShortLabel: "SR"
  %Binning:-1,1
  DataType: ASIMOV

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "SR/tt"
  Regions: SR
    
Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "SR/VV"
  Regions: SR

Sample: "ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "SR/ttV"
  Regions: SR
    
Sample: "Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "SR/Higgs"
  Regions: SR
  
Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "SR/Zjets"
  Regions: SR

%Sample: "Signal"
%  Type: SIGNAL
%  Title: "Signal"
%  FillColor: 2 
%  LineColor: 2
%  NtupleFile: "SR/Signal"
%  Regions: SR

Sample: "ggF"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 2 
  LineColor: 2
  NtupleFile: "SR/ggF"
  %MCweight: "0.171/0.162"
  %NtupleFile: "SR/VBF"
  Regions: SR
  
%Sample: "VBF"
  %Type: SIGNAL
  %Title: "Signal"
  %FillColor: 2 
  %LineColor: 2
  %%NtupleFile: "SR/ggF"
  %NtupleFile: "SR/VBF"
  %Regions: SR

Sample: "Data"
  Title: "Data"
  Type: Data
  NtupleFile: "SR/data"
  Regions: SR

%%%%%%%%%%%%%%%%% NormFactor %%%%%%%%%%%%%%%%%%

NormFactor: "SigXsecOverSM"
  Title: "SigXsecOverSM"
  Constant: TRUE
  Nominal:1
  Min:  -50
  Max:  50
  Samples: ggF
  %Samples: ggF,VBF
  Regions: SR

NormFactor: "mu_ttXsec"
  Title: "mu_tt"
  Nominal:1
  Min:  -50
  Max:  50
  %Samples: tt_ttbar, ttV_ttbar, VVHiggs_ttbar, Zjets_ttbar, VR_ttbar
  Samples: *ttbar
  %Regions: all
  %Exclude: SR

NormFactor: "mu_ttVXsec"
  Title: "mu_ttV"
  Nominal:1
  Min:  -50
  Max:  50
  %Samples: tt_ttV ,ttV_ttV, VVHiggs_ttV, Zjets_ttV, VR_ttV
  Samples: *ttV
  %Regions:ttV_CR, tt_CR, SR
  %Exclude: SR

NormFactor: "mu_VVXsec"
  Title: "mu_VV"
  Nominal:1
  Min:  -50
  Max:  50
  %Samples: tt_VV, ttV_VV, VVHiggs_VV, Zjets_VV, VR_VV
  Samples: *VV
  %Regions:VVHiggs_CR
  %Exclude: SR

NormFactor: "mu_HiggsXsec"
  Title: "mu_Higgs"
  Nominal:1
  Min:  -50
  Max:  50
  %Samples: VVHiggs_Higgs, VR_Higgs
  Samples: *Higgs
  %Regions:VVHiggs_CR, SR
  %Exclude: SR

NormFactor: "mu_ZjetsXsec"
  Title: "mu_Zjets"
  Nominal:1
  Min:  -50
  Max:  50
  %Samples: Zjets_Zjets, VR_Zjets
  Samples: *Zjets
  %Regions:Zjets_CR, SR
  %Exclude: SR

%%%%%Systematic%%%%%%

Systematic: "ttXsec"
  Title: "t#bar{t} Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttbar
  Category: "uncertainty"

Systematic: "VVXsec"
  Title: "VV Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: VV
  Category: "uncertainty"

Systematic: "ttVXsec"
  Title: "ttV Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttV
  Category: "uncertainty"

Systematic: "HiggsXsec"
  Title: "Higgs Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Higgs
  Category: "uncertainty"

Systematic: "ZjetsXsec"
  Title: "Zjets Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Zjets
  Category: "uncertainty"


%Systematic: "VBFXsec"
  %Title: "VBF Cross-Section"
  %Type: OVERALL
  %OverallUp: 0.021
  %OverallDown: -0.021
  %Samples: VBF
  %Category: theory
  
Systematic: "luminosity"
  Title: "luminosity"
  Type: OVERALL
  OverallUp:    0.017
  OverallDown: -0.017
  Samples: all
  Category: Instrumental

%%% Theoretical Systematics %%%%%

%Systematic: "Parton_Shower"
%  Title: "Parton Shower"
%  Type: HISTO
%  Samples: ggF
%  NtupleNameUp: "Herwig"
%  %Smoothing: 40
%  %Symmetrisation: TWOSIDED
%  Symmetrisation: ONESIDED
%  Category: Instrumental
