
Job: "bb4ltestFit"
  Label: "bb4l_test Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  %NtuplePath: "bb4lInputs/test/"
  NtuplePath: "/Lab/Di-Higgs/Analysis/v10samples/BDT/Results/"
  NtupleName: "nominal"
  %MCweight: "weight"
  DebugLevel: 2
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  PlotOptions: YIELDS,NORMSIG
  ImageFormat: png,svg
  %Selection: SRBDT>-0.8
  %RankingMaxNP: 200
  %NPRankingCanvasSize: 1400, 2200
  %PruningType: COMBINEDREFERENCE
  %SystPruningShape: 0.05
  %NPRankingCanvasSize: 1400, 700

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
  %doLHscan: SigXsecOverSM
  %UseMinos: SigXsecOverSM
  SetRandomInitialNPval: 0.

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE

Region: "SR"
  Type: SIGNAL
  Variable: "SRBDT",20,-1,1
  %Binning: -1.0,-0.9,-0.7,-0.4,0,0.4,0.6,0.7,0.8,0.9,1.0
  %NtupleName: "SRBDT"
  VariableTitle: "BDT"
  Label: "Signal Region"
  ShortLabel: "SR"
  DataType: ASIMOV
  
%Sample: "Data"
%  Title: "Data"
%  Type: data
%  NtupleFile: "SR/data"
%  Regions: SR
    
Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 3
  LineColor: 1
  NtupleFile: "SR/tt"
  MCweight: "weight"
  Regions: SR
    
Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 4
  LineColor: 1
  NtupleFile: "SR/VV"
  MCweight: "weight"
  Regions: SR

Sample: "ttV"
  Type: BACKGROUND
  Title: "ttV"
  FillColor: 5
  LineColor: 1
  NtupleFile: "SR/ttV"
  MCweight: "weight"
  Regions: SR
    
Sample: "Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColor: 7
  LineColor: 1
  NtupleFile: "SR/Higgs"
  MCweight: "weight"
  Regions: SR

%Sample: "VVV"
%  Type: BACKGROUND
%  Title: "VVV"
%  FillColor: 8
%  LineColor: 1
%  NtupleFile: "SR/VVV"
%  Regions: SR
  
Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  FillColor: 9
  LineColor: 1
  NtupleFile: "SR/Zjets"
  MCweight: "weight"
  Regions: SR

%Sample: "Signal"
%  Type: SIGNAL
%  Title: "Signal"
%  FillColor: 2 
%  LineColor: 2
%  NtupleFile: "SR/ggF"
%  %NtupleFile: "SR/VBF"
%  Regions: SR

Sample: "ggF"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 2 
  LineColor: 2
  NtupleFile: "SR/ggF"
  MCweight: "weight"
  %NtupleFile: "SR/VBF"
  Regions: SR
  
Sample: "VBF"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 2 
  LineColor: 2
  %NtupleFile: "SR/ggF"
  NtupleFile: "SR/VBF"
  MCweight: "weight"
  Regions: SR

%%%%%%%%%%%%%%%%% NormFactor %%%%%%%%%%%%%%%%%%

NormFactor: "SigXsecOverSM"
  Title: "SigXsecOverSM"
  Constant: TRUE
  Nominal: 1
  Min:  -10
  Max:  1000
  Samples: ggF,VBF
  Regions: SR


%%%%%Systematic%%%%%%

Systematic: "ttXsec"
  Title: "t#bar{t} Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttbar
  Category: "uncertainty"

Systematic: "VVXsec"
  Title: "VV Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: VV
  Category: "uncertainty"

Systematic: "ttVXsec"
  Title: "ttV Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttV
  Category: "uncertainty"

Systematic: "HiggsXsec"
  Title: "Higgs Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Higgs
  Category: "uncertainty"
  
Systematic: "ZjetsXsec"
  Title: "Zjets Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Zjets
  Category: "uncertainty"

Systematic: "luminosity"
  Title: "luminosity"
  Type: OVERALL
  OverallUp:    0.017
  OverallDown: -0.017
  Samples: all
  Category: Instrumental

